<h1>Welcome to Mortgage Co. EZ Apply™</h1>
<p>Please fill out your Mortgage application below.</p>

<form class="pure-form-stacked" method="POST" action="applications">
    <label for="name" type="text">Name</label>
    <input id="name" name="name" type="text">

    <label for="phone" type="text">Phone</label>
    <input id="phone" name="phone" type="tel">

    <label for="address" type="text">Address</label>
    <input id="address" name="address" type="text">

    <label for="employer_name" type="text">Employer</label>
    <input id="employer_name" name="employer_name" type="text">

    <label for="life_insurance_name" type="text">Life Insurance Provider</label>
    <input id="life_insurance_name" name="life_insurance_name" type="text">
    <button class="pure-button pure-button-primary" type="submit">Submit</button>
</form>