<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mortgage</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
    <nav class="topbar">
        <h1 class="topbar-title">Mortgage Co.</h1>
        <a class="topbar-item" href="/mortgage/application">View Application</a>
    </nav>
    <main>{{ yield }}</main>
    <footer>
        © Mortgage Co. LLC, 2017
    </footer>
</body>
</html>