<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mortgage</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css">
</head>
<body class="is-employer">
    <nav class="topbar">
        <h1 class="topbar-title">Bob Loblaw Law Blog</h1>
        <p class="topbar-tagline">Lobbing Law Bombs since 1995</p>
    </nav>
    <main>{{ yield }}</main>
    <footer>
        © Bob Loblaw Law Blog, 2017
    </footer>
</body>
</html>